# --- SYSTEM FILES ---
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
desktop.ini

# --- LOGS & BUILD ---
*.log
/logs
target/
out/

# --- MAVEN ---
!.mvn/wrapper/maven-wrapper.jar
/mvnw
/mvnw.cmd

# --- IDEs ---
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
.apt_generated

# --- SECRETS & LOCAL ---
.env
.env.*
!.env.example
.local