# --- SYSTEM FILES ---
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
desktop.ini

# --- LOGS ---
*.log
/logs
/target

# --- MAVEN ---
target/
!.mvn/wrapper/maven-wrapper.jar
/mvnw
/mvnw.cmd

# --- IDEs ---
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# --- OTRAS CAPAS ---
.env
.local
